dj-static==0.0.6
Django==1.11.2
dj-database-url==0.4.2
django-extensions==1.7.9
django-import-export==0.5.1
django-suit==0.2.25
django-test-without-migrations==0.6
gunicorn==19.7.1
pandas==0.20.2
python-decouple==3.0
psycopg2==2.7.1
xlrd==1.0.0
