<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form action="." method="POST">
    {% csrf_token %}
    <label for="{{ form.format.id_for_label }}">{{ form.format.label }}</label>
    {{ form.format.errors }}
    {{ form.format }}
    </div>

    <label for="{{ form.fields.id_for_label }}">{{ form.fields.label }}</label>
    {{ form.fields.errors }}
    {{ form.fields|title }}
    </div>
    <input type="submit" value="Exportar">
  </form>
</body>
</html>
